.search-container {
  display: flex;
  align-items: center;
  background: transparent;
}

.search-container input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
}

.search-container button[type="submit"] {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}


